.App {
  text-align: center;
  background-image: url("https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1511276981/the-roof-at-public-hotel-new-york-city-ROOF1117.jpg?itok=4PTTAf3C");
  height: 100vh;

  
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.header{
  background-color: black;
  opacity: .60;
  color:white;
  box-shadow: 0px 5px 3px 3px grey;
  border-radius: 3%;
}
.title{
  font-family: 'Montserrat', sans-serif;
}
.subheader{
  font-family: 'DM Serif Text', serif;
}


